.panda-card{
    border: 0;
}
.panda-card-footer{
    border: 0;
    background-color: white;
}
.catagories img{
    width: 100px;
}
.panda-slide .carousel-item{
    background-color: rgb(252, 218, 252);
    border-radius: 1em;
}
